---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Seorang mahasiswa S1 Terapan Teknik Rekayasa Multimedia, Universitas Telkom yang memiliki pengalaman 
    lebih dari 2 tahun dalam bidang Internet of Things. Mendalami kebutuhan baik hardware maupun software dalam 
    membangun prototipe-prototipe sesuai permintaan klien. Aktif berkolaborasi dan bertukar pikiran dengan 
    anggota tim demi memaksimalkan kebutuhan yang diminta
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Edukasi</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="S1 Terapan Teknik Rekayasa Multimedia"
      subtitle="2024 hingga saat ini di Telkom University, Bandung, Jawa Barat"
    />
    <TimeLineElement
      title="D3 Teknologi Komputer"
      subtitle="2021 hingga 2024 di Telkom University, Bandung, Jawa Barat"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Pengalaman Magang dan Kerja</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Early Warning System - STAS-RG Laboratory"
      subtitle="Juli 2024 - Februari 2025"
    >
      Mengembangkan sistem peringatan dini untuk kualitas kampas rem, TPMS customized untuk dihubungkan ke website, LiDAR untuk
      sistem peringatan keausan ban, dan RFID untuk sistem peringatan pencurian ban.
    </TimeLineElement>
    <TimeLineElement
      title="Smart Skin - STAS-RG Laboratory"
      subtitle="Februari 2023 - Juli 2023"
    >
      Mengembangkan sistem kulit sintetis pada Smart Mannequin. Menerapkan metode AI dasar seperti regresi linear untuk
      menerapkan cara kerja alat ukur tekanan aktual kepada sensor yang diteliti. Dengan tujuan agar dapat berfungsi selayaknya
      alat ukur dalam bentuk lebih simpel dan minimalis.
    </TimeLineElement>
    <TimeLineElement
      title="Website Developer - STAS-RG Laboratory"
      subtitle="Februari 2022 - Februari 2023"
    >
      Mengembangkan website monitoring untuk melihat real-time data pengujian langsung dari Smart Mannequin. Menerapkan sistem 
      komunikasi LoRa untuk pengiriman data jarak jauh yang kemudian akan diterima oleh receiver untuk kemudian dikirimkan ke monitoring
      menggunakan protokol HTTP.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Sertifikasi</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://drive.google.com/file/d/15N09IgpacmDRz9UTUqKHjZT5-9MxixPS/view?usp=drive_link" target="_blank"> Python Fundamentals</a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1_yOmZ43pT2vxoH_PxH2GHqoH8CHOylhn/view?usp=drive_link" target="_blank"> R Fundamentals</a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1ctMU2hK9CJbcb_Jd_vqVs_LXNhMjtF_m/view?usp=drive_link" target="_blank"> SQL Fundamentals</a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1LFTsqoZpysHhHHKBPbLzbhBoYfwZHlgx/view?usp=sharing" target="_blank"> Python for Data Professional</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>C++</li>
    <li>PHP Laravel</li>
    <li>Design Thinking</li>
    <li>Problem Solving</li>
    <li>Team Management</li>
    <li>Google Colab</li>
    <li>3D Visualization</li>
    <li>AR/VR</li>
  </ul>
  <div class="mb-10"></div>
  <div>
    <b>Link Resume : </b> <a href="https://drive.google.com/file/d/1uIdajLRXowf7E26Hp5VmaawXynjh74Q4/view?usp=drive_link">Download My Resume</a>
  </div>
  <div>
    <b>Link CV : </b> <a href="https://drive.google.com/file/d/1EJFFc7edK5Z95i9CmrQs5fM17KIWg17i/view?usp=drive_link">Download My CV</a>
  </div>
  
</BaseLayout>
