---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Halo Semua</div>
    <div class="text-5xl font-bold">Muhammad Aulia Rifqi Zain</div>
    <div class="text-3xl py-3 font-bold">Internet of Things - Hardware/Software Dev</div>
    <div class="py-2">
      <text class="text-lg">
        Seorang pelajar yang mendalami bidang Internet of Things selama 2 tahun. Mendalami baik di bidang software maupun hardware
        dengan beberapa pengalaman terjun langsung dalam riset dan pengembangan berkelanjutan. Memiliki keterampilan di PHP, JS, CSS
        dengan beberapa tambahan gabungan Artificial Intelligence (AIoT) dalam pengembangan hardwarenya.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://github.com/Ultrasky123" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Early Warning System"
    img="/Report Progress VIII.jpg"
    desc="Riset kolaborasi melalui BTP dalam mengembangkan sistem peringatan dini kampas rem dan ban untuk kendaraan"
    url="https://drive.google.com/file/d/1CI2QA7hh7L9QDSNYdexS265_DTL3dmIx/view?usp=drive_link"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Smart Skin"
    img="/Strain Gauge Theory.png"
    desc="Riset pengembangan kulit sintetis pada Smart Mannequin untuk mendeteksi kerusakan dan lecet kulit berbasis AIoT"
    url="https://drive.google.com/file/d/1-d60ZES0YN5gF6r_nItikVuZtoxRjkpR/view?usp=drive_link"
  />
</BaseLayout>
