---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout sideBarActiveItemID="smart-skin">
  <div class="mb-5">
    <div class="text-5xl w-full text-center font-bold">Pengalaman Hardware</div>
  </div>

  <!-- SAUVC 2022 -->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">SolidWorks Designs - SAUVC 2022</div>
  </div>
  <div class="flex flex-col md:flex-row items-center gap-4">
    <!-- Gambar -->
    <div class="w-full md:w-1/2 flex justify-center">
      <img src="/Kill_switch.jpg" class="w-3/4">
    </div>
    <!-- Deskripsi -->
    <div class="w-full md:w-1/2 text-justify">
      <p>Pada laboratorium Robotic SAS Telkom University 2022, saya bertugas dalam <b>Designing Team</b> untuk sistem magnetic switch pada robot TechSAS
      dan FIToplankton untuk lomba SAUVC 2022. Tujuan kami menggunakan magnetic switch yaitu agar official team dengan mudah menarik switch yang bertindak
      sebagai Emergency/Panic Button.</p>
      <div class="mb-4"></div>
      <p>Selain dari panic button, saya juga melakukan maintenance terhadap barang 3D print yang rusak atau patah dan melakukan modifikasi atas permintaan teknisi.</p>
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center gap-4 mt-6">
    <!-- Gambar -->
    <div class="w-full md:w-1/2 flex justify-center">
      <img src="/Magnetic_Switch.jpg" class="w-3/4">
    </div>
    <!-- Deskripsi -->
    <div class="w-full md:w-1/2 text-justify">
      <p>Magnetic Switch yang digunakan memiliki keunggulan dalam segi efisiensi dan keamanan. Penggunaan bahan cetak 3D memungkinkan desain yang lebih fleksibel.</p>
    </div>
  </div>

  <div class="mb-10"></div>

  <!-- KRI Bola Beroda 2023 -->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">SolidWork Designs - KRI Bola Beroda 2023</div>
  </div>
  <div class="flex flex-col md:flex-row items-center gap-4">
    <!-- Gambar -->
    <div class="w-full md:w-1/2 flex justify-center">
      <img src="/tim_krsbi.jpg" class="w-3/4">
    </div>
    <!-- Deskripsi -->
    <div class="w-full md:w-1/2 text-justify">
      <p>Pada laboratorium Robotic SAS Telkom University 2022, saya bertugas dalam <b>Designing Team</b> untuk sistem magnetic switch pada robot TechSAS
      dan FIToplankton untuk lomba SAUVC 2022. Tujuan kami menggunakan magnetic switch yaitu agar official team dengan mudah menarik switch yang bertindak
      sebagai Emergency/Panic Button.</p>
    </div>
  </div>

  <div class="mb-10"></div>

  <div class="mb-3">
    <b>Submission Video FIToplankton SAUVC 2022</b> : 
    <a href="https://drive.google.com/file/d/1gaW3zXlAL4SMptRlX4maJTneEsXKj72Y/view?usp=sharing" target="_blank">
      Klik Link Ini (Google Drive)
    </a>
  </div>
</BaseLayout>
