---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout sideBarActiveItemID="smart-skin">
  <div class="mb-5">
    <div class="text-5xl w-full text-center font-bold">Pengalaman Hardware</div>
  </div> 
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">SolidWorks Designs</div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div class="w-1/2 h-1/2 ">
    <img src="/Mannequin1.jpg">
  </div>
  <div class="w-full h-full text-justify">
    Pada laboratorium Robotic SAS Telkom University 2022, saya bertugas dalam <b>Designing Team</b> untuk sistem magnetic switch pada robot TechSAS
    dan FIToplankton untuk lomba SAUVC 2022. Tujuan kami menggunakan magnetic switch yaitu agar official team dengan mudah menarik switch yang bertindak
    sebagai Emergency/Panic Button.
  </div>
  </div>
  <div class="mb-10"></div>
  <div class="mb-3">
  <b>Short Video Pengujian di PT Pindad </b> : <a href="https://www.instagram.com/reel/DDqJKg9yZZq/?igsh=b21wbXhuOTc4NGdj">Klik Link Ini (Instagram)</href>
  </div>
  <div>
  <b>Short Video Pengujian di Sukawana </b> : <a href="https://www.instagram.com/reel/DDwMC5hpnjf/?igsh=MW5nY2EyaXgxbHYxag==">Klik Link Ini (Instagram)</href>
  </div>
  </div>
  
</BaseLayout>
